# JSON files
*.json

# Excel files
*.xlsx

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# FAISS index files
*.faiss

# Pickle files
*.pkl

# CSV files
*.csv

# Text files
*.txt

#Images
*.png
*.svg